body {
    font-family: 'Unbounded', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.reviews-section {
    padding: 40px 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


h4 {
    color: #E9C46A;
    ;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3%;
    border-radius: 20px;

}

.review-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('cropped-image-businessman-sitting-by-table-cafe-with-laptop-computer-writing-something_171337-5587.avif');
    background-size: 100% 100%;
    gap: 10px;



}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #E76F51;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: -20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50%;
    height: 50%;
    position: inherit;
    z-index: 2;
}




.review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 10px;

    position: relative;
    z-index: 1;

}

.reviewer-info h3 {
    margin: 0;
    font-size: 18px;
    text-align: center !important;
    color: white;
}

.reviewer-info p {
    margin: 0;
    color: gray;
    font-size: 14px;
    color: white;
    text-align: center !important;
}

.rating {
    font-size: 18px;
    color: gold;
    margin-bottom: 10px;
}

.rating span strong {
    font-weight: bold;
    color: white;


}


#text-white {
    color: rgb(216, 211, 211);
}